.full-page{
    justify-content: center;
    padding: 10px;
}
.logo-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.header-img{
    display: flex;
    width: 900px;
    height: 400px;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.all-sections{
    display: flex;
    flex-direction: row;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.sub-section{

}

