.nav-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-evenly;
    gap: 10px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.sub-section{

}

